
.alert{
    position: absolute;
}

#content{
    display: flex;
    justify-content: center;
}
#login{
    width: 25rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-40%);
    background-color: pink;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -5px rgb(255, 173, 187);
}

#login h2{
    text-align: center;
}
#login div{
    margin: 1rem 0;
    text-align: end;
}
#login input{
    border-radius: 0.4rem;
}
#login label{
    vertical-align: top;
}

