


#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    align-items: center;
}
#login{
    width: 25rem;
    height: 15rem;
    background-color: pink;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -5px rgb(255, 173, 187);
}

#login h2{
    text-align: center;
}
#login div{
    margin: 1rem 0;
    text-align: end;
}
#login input{
    border-radius: 0.4rem;
}

#login button{
    text-align: center;
    padding: 0.4rem;
}