
#content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    color: black;
}

.card{
    width: 25rem;
    padding: 1rem;
    background-color: #e7d1e6;
    border-radius: 1rem;
}



#modalAjout{
    color: black;
}

.modal-content{
    border-radius: 1.5rem;
}

#formAdd div{
    display: flex;
    justify-content: space-between;
}