
#content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    color: black;
}

.card{
    width: 25rem;
    padding: 1rem;
    background-color: #e7d1e6;
    border-radius: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    background-color: #f4c3f4;
}

.card ul{
    list-style-type: none;
}
.card-body li{
    display: flex;
    justify-content: space-between;

}


#modalAjout{
    color: black;
}

#formAdd div{
    display: flex;
    justify-content: space-between;
}