
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/back.jpg') no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: pink;
    margin-bottom: 2rem;
}

.logo img{
    width: 4.5rem;
    height: auto;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 0.5rem;
}

