

 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/back.jpg') no-repeat;
    color: #483b48;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header{
    justify-content: flex-end;
    background: linear-gradient(to left top, #b63e62, #81459f);
    margin-bottom: 2rem;
    color: whitesmoke;
}

header .navbar-toggler{
    color: whitesmoke;
    font-family: 'Kaushan Script', cursive;
    margin-right: 0.8rem;
    padding: .8rem;
}

header a{
    color: gold;
}

header a:hover{
    color: rgb(146, 126, 9);
}

.logo img{
    width: 4.5rem;
    height: auto;
}

.logo img:hover{
    animation: shake 0.2s;
}

header h1{
    font-family: 'Kaushan Script', cursive;
    text-shadow: .1rem .1rem whitesmoke, .2rem .3rem black;
    letter-spacing: .2rem;
}

h4{

    text-shadow: .1rem .1rem whitesmoke, .2rem .3rem black;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 0.5rem;
}

.alert{
    z-index: 100;
}

.btn, .btn:link, .btn-visited, .btn:focus, .btn-active{
    border-radius: .4rem;
    box-shadow: .3rem .3rem .3rem rgb(19, 4, 61);
    color: rgb(243, 182, 26);
    background-color: #367a30;
}

.btn-danger{
    background-color: rgb(153, 22, 22);
}

.btn:hover{
    background-color: #5AEB4D;
}

.modal-content{
    background: linear-gradient(to left top, #b63e62, #81459f);
    color: whitesmoke;
    border-radius: 1.5rem;
}


@keyframes shake {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(20deg);}
    50%{transform: rotateZ(0deg);}
    75%{transform: rotateZ(-20deg);}
    100%{transform: rotateZ(0deg);}
    
}