
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/back.jpg') no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    margin-bottom: 2rem;
}

.logo img{
    width: 4.5rem;
    height: auto;
}

.logo img:hover{
    animation: shake 0.2s;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 0.5rem;
}

@keyframes shake {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(20deg);}
    50%{transform: rotateZ(0deg);}
    75%{transform: rotateZ(-20deg);}
    100%{transform: rotateZ(0deg);}
    
}