

 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/back.jpg') no-repeat;
    color: #483b48;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header{
    justify-content: flex-end;
    background-color: #edcaed;
    margin-bottom: 2rem;
}


.logo img{
    width: 4.5rem;
    height: auto;
}

.logo img:hover{
    animation: shake 0.2s;
}

header h1{
    font-family: 'Kaushan Script', cursive;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 0.5rem;
}

.alert{
    z-index: 100;
}

.modal-content{
    background-color: #e7d1e6;
}
.modal-header{
    background-color: #f4c3f4;

}

@keyframes shake {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(20deg);}
    50%{transform: rotateZ(0deg);}
    75%{transform: rotateZ(-20deg);}
    100%{transform: rotateZ(0deg);}
    
}